@import 'common/var.css';
.lee-button{
  background:$defaultbuttonfill;
  border: $defaultbuttonborder;
  padding: 10px 15px;
  font-size:14px;
  cursor:pointer;
  border-radius: 3px;
  color:#fff;
  transition:0.3s;
  &.lee-button-default{
    background-color: #fff;
    border:1px solid $defaultborder;
    color: $defaulttext;
    &.is-disabled{
      opacity:0.3;
      &.is-plain:hover{
        background-color:#fff;
        color: $defaulttext;
        border-color:$defaultborder;
      }
    }
    &.is-plain{
      &:hover{
        background: #fff;
        color: $primary;
      }
    }
    &:hover{
      background-color: color($primary alpha(-90%));
      border-color: color($primary alpha(-20%));
      color: $primary;
    }
    &.is-disabled:hover{
      background-color: #fff;
      color: $defaulttext;
      border-color: $defaultborder;
    }
  }
  &.lee-button-primary{
    background-color: $primary;
    border:1px solid $primary;
    &.is-disabled{
      opacity:0.3;
      &.is-plain:hover{
        background-color:color($primary alpha(-90%));
        color: $primary;
        border-color:color($primary alpha(-60%));
      }
    }
    &.is-plain{
      border-color:color($primary alpha(-60%));
      background-color:color($primary alpha(-90%));
      color: $primary;
      &:hover{
        background: $primary;
        color: #fff;
      }
      &:active{
        background-color: color($primary alpha(-20%));
      }
    }
    &:hover{
      background-color: color($primary alpha(-20%));
      border-color: color($primary alpha(-20%));
    }
    &:active{
      background-color: $primary;
      border-color: $primary;
    }
    &.is-disabled:hover{
      background-color: $primary;
    }
  }
  &.lee-button-success{
    background-color: $success;
    border:1px solid $success;
    &.is-disabled{
      opacity:0.3;
      &.is-plain:hover{
        background-color:color($success alpha(-90%));
        color: $success;
        border-color:color($success alpha(-60%));
      }
    }
    &.is-plain{
      border-color:color($success alpha(-60%));
      background-color:color($success alpha(-90%));
      color: $success;
      &:hover{
        background: $success;
        color: #fff;
      }
      &:active{
        background-color: color($success alpha(-20%));
      }
    }
    &:hover{
      background-color: color($success alpha(-20%));
      border-color: color($success alpha(-20%));
    }
    &:active{
      background-color: $success;
      border-color: $success;
    }
    &.is-disabled:hover{
      background-color: $success;
    }
  }
  &.lee-button-info{
    background-color: $info;
    border:1px solid $info;
    &.is-disabled{
      opacity:0.3;
      &.is-plain:hover{
        background-color:color($info alpha(-90%));
        color: $info;
        border-color:color($info alpha(-60%));
      }
    }
    &.is-plain{
      border-color:color($info alpha(-60%));
      background-color:color($info alpha(-90%));
      color: $info;
      &:hover{
        background: $info;
        color: #fff;
      }
      &:active{
        background-color: color($info alpha(-20%));
      }
    }
    &:hover{
      background-color: color($info alpha(-20%));
      border-color: color($info alpha(-20%));
    }
    &:active{
      background-color: $info;
      border-color: $info;
    }
    &.is-disabled:hover{
      background-color: $info;
    }
  }
  &.lee-button-warning{
    background-color: $warning;
    border:1px solid $warning;
    &.is-disabled{
      opacity:0.3;
      &.is-plain:hover{
        background-color:color($warning alpha(-90%));
        color: $warning;
        border-color:color($warning alpha(-60%));
      }
    }
    &.is-plain{
      border-color:color($warning alpha(-60%));
      background-color:color($warning alpha(-90%));
      color: $warning;
      &:hover{
        background: $warning;
        color: #fff;
      }
      &:active{
        background-color: color($warning alpha(-20%));
      }
    }
    &:hover{
      background-color: color($warning alpha(-20%));
      border-color: color($warning alpha(-20%));
    }
    &:active{
      background-color: $warning;
      border-color: $warning;
    }
    &.is-disabled:hover{
      background-color: $warning;
    }
  }
  &.lee-button-danger{
    background-color: $danger;
    border:1px solid $danger;
    &.is-disabled{
      opacity:0.3;
      &.is-plain:hover{
        background-color:color($danger alpha(-90%));
        color: $danger;
        border-color:color($danger alpha(-60%));
      }
    }
    &.is-plain{
      border-color:color($danger alpha(-60%));
      background-color:color($danger alpha(-90%));
      color: $danger;
      &:hover{
        background: $danger;
        color: #fff;
      }
      &:active{
        background-color: color($danger alpha(-20%));
      }
    }
    &:hover{
      background-color: color($danger alpha(-20%));
      border-color: color($danger alpha(-20%));
    }
    &:active{
      background-color: $danger;
      border-color: $danger;
    }
    &.is-disabled:hover{
      background-color: $danger;
    }
  }
  &.is-round{
    border-radius:20px;
  }
  &.lee-button-size-medium{
    padding:8px 12px;
  }
  &.lee-button-size-small{
    padding:5px 10px;
  }
  &.is-disabled{
    cursor: not-allowed;
  }
  &.is-loading{
    opacity: 0.5;
    .icon-refresh{
      animation: spinner 2s linear infinite;
    }
  }
}
