.lee-row{
  display:block;
  font-size:0;
  &.lee-row-flex{
    display:flex;
    &.is-justify-center{
      justify-content: center;
    }
    &.is-justify-end{
      justify-content: flex-end;
    }
    &.is-justify-space-between{
      justify-content: space-between;
    }
    &.is-justify-space-around{
      justify-content: space-around;
    }
  }
}
