$defaultborder: #DCDFE6;
$defaulttext: #606266;
$primary: #409EFF;
$success: #67C23A;
$info: #909399;
$warning: #E6A23C;
$danger: #F56C6C;

$defaultbuttonfill: #fff;
$defaultbuttonborder: 1px solid #ccc;
$defaultbuttonconner: 3px;

